.scrollmagic__el-1,
.scrollmagic__el-2,
.scrollmagic__el-3,
.scrollmagic__el-4,
.scrollmagic__el-5,
.scrollmagic__el-6,
.scrollmagic__el-7,
.scrollmagic__el-8
{
    opacity: 0.001; 
    visibility: visible;
    transition: .5s;
    &.animate{
        opacity: 1;
        transition: all .5s ease-in-out;
        transform: translateY(-30px);
    }
}

@keyframes showSidebar {
    from {
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        height: 100vh;
    }
}

@keyframes hideSidebar {
    from {
        opacity: 1;
        height: 100vh;
    }
    to {
        opacity: 0;
        height: 0;
    }
}

@keyframes showRight {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes showTop {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}