
$page_color: #0f0f0f;
$tella_green: #24F2AD;

@mixin title_style() {
	font-size: 2.2rem;
	text-align: center;
	@media screen and (min-width: 1921px) {
		font-size: 3rem;
	}
	@media screen and (max-width: 1300px) {
		font-size: 2rem;
	}
	@media screen and (max-width: 1100px) {
		font-size: 1.6rem;
	}
	@media screen and (max-width: 900px) {
		text-align: left;
		font-size: 2rem;
	}
	@media screen and (max-width: 767px) {
		font-size: 1.5rem;
	}
	@media screen and (max-width: 400px) {
		font-size: 1.4rem;
	}
}

@mixin button_style() {
	cursor: pointer;
    @include input_reset();
    font-size: 1.2rem;
    height: 60px;
    width: 250px;
    border: 1px solid $tella_green;
	color: $tella_green;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: $tella_green;
		transition: .3s;
	}
	span{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		width: 100%;
	}
	&:hover{
		transition: .2s;
		&::before{
			width: 100%;
		}
		color: #0f0f0f;
	}
	@media screen and (max-width: 1600px) {
		font-size: 1.1rem;
		height: 55px;
    	width: 230px;
	}
	@media screen and (max-width: 1299px) {
		font-size: 1rem;
		height: 50px;
    	width: 200px;
	}
	@media screen and (max-width: 1100px) {
		font-size: .8rem;
		height: 40px;
    	width: 170px;
	}
	@media screen and (max-width: 899px) {
		font-size: 1rem;
		height: 50px;
    	width: 200px;
	}
	@media screen and (max-width: 767px) {
		font-size: 1rem;
		width: 100%;
		height: 60px;
	}
}


@mixin link_transition() {
	&:hover{
		transition: .1s;
		color: $tella_green;
		border-bottom: 2px solid $tella_green;
	}
	@include link_animation(){
		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				animation-delay: $i * (2s / 15);
			}
		}
	}
}


@mixin language-switch_style() {
	cursor: pointer;
	user-select: none;
	@include link_animation(){
        animation-delay: .55s;
    }
}

@mixin slider_style() {
	display: flex;
    overflow: hidden;
    position: relative;
    &-item{
        position: relative;
        transition: 0.4s ease-in-out;
        min-width: 101%;
    }
}

@mixin link_animation(){
    animation-name: showRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    @content;
}

@mixin flex_center() {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flex_column() {
	display: flex;
	flex-direction: column;
}
@mixin flex_vertical_center() {
	display: flex;
	align-items: center;
}
@mixin flex_horizontal_center() {
	display: flex;
	justify-content: center;
}
@mixin flex_horizontal_between() {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin flex_vertical_between() {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
@mixin flex_vertical_end(){
	display: flex;
	align-items: flex-end;
}
@mixin flex_horizontal_end(){
	display: flex;
	justify-content: flex-end;
}
@mixin input_reset() {
	outline: none;
	background: none;
	border: none;
}