@import "@/styles/variables.scss";

.hide-sidebar{
    animation: hideSidebar .4s ease-in-out;
    animation-fill-mode: both;
}

.sidebar{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    z-index: 20;
    color: black;
    animation: showSidebar .5s ease-in-out;
    animation-fill-mode: both;
    &__header{
        @include flex_horizontal_between();
        padding: 2.5rem;
    }
    &__actions{
        margin-top: 5rem;
        overflow: auto;
        @include flex_center();
        flex-direction: column;
        font-size: 2rem;
    }
    &__links{
        @include flex_column();
        align-items: center;
    }
    &__link{
        margin-top: 1.5rem;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        &:hover{
            transition: .1s;
            color: $tella_green;
            border-bottom: 2px solid $tella_green;
        }
        &:first-child{
            margin-top: 0;
        }
        @include link_animation(){
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    animation-delay: $i * (3s / 15);
                }
            }
        }
    }
    &__language-switch{
        margin-top: 2rem;
        font-size: 1.5rem;
        @include language-switch_style();
        @include link_animation(){
            animation-delay: .6s;
        }
    }
}

@media screen and (max-width: 767px) {
    .sidebar{
        &__header{
            padding: 1.5rem;
        }
        &__logo{
            max-width: 7rem;
        }
    }
}
